html{
    background-color: purple;
}
body{
    margin-top: 2em;
}


/* number input */
form{
    margin-left: 10em;
    margin-right: 10em;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(243, 205, 243);
    font-size: 20px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 3em;
}
input{
    margin-right: 5em;
}


/* output */
article{
    margin-left: 10em;
    margin-right: 10em;
    background-color: rgb(243, 205, 243);
    font-size: 20px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}


/* buttons */
button{
    background-color: rgba(245, 157, 245, 0.788);
    margin-left: 1em;
    margin-right: 1em;
    padding: 10px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

